/Poo/target/
/POO/nbproject/private/
/poo/nbproject/private/
/persona/nbproject/private/
/persona/build/
/poo/build/
/JavaApplication15/nbproject/private/
/clase/nbproject/private/
/clase/build/
/cuenta/nbproject/private/
/cuenta/build/
/calculadora_nueva/nbproject/private/
/calculadora_nueva/build/
/recursividad/nbproject/private/
/recursividad/build/
/recursividad_nombre/nbproject/private/
/arreglos/nbproject/private/
/arreglos/build/
/recursividad_nombre/build/
/arreglos_2/nbproject/private/
/arreglos_2/build/
/1-100_for/nbproject/private/
/1-100_for/build/
/lectura_arreglos/nbproject/private/
/lectura_arreglos/build/
/nombres_for/nbproject/private/
/nombres_for/build/
/ciclo_for_nombres/nbproject/private/
/ciclo_for_nombres/build/
